<%- include("partials/header") %>


 <div class="container">
	 <header class="jumbotron">
		 <div class="container">
			 <h1>Life Expectancy Database</h1>
			 <p>Search for Life expectancy at different countries</p>
			 <p>
			    <a class="btn btn-primary btn-large" href="/life_expectancies/new/Insert">Insert</a>
				<a class="btn btn-primary btn-large" href="/life_expectancies/new">Search DB</a>
				 <a class="btn btn-primary btn-large" href="/life_expectancies/new/queries">Queries</a>
			 </p>
		 </div>
	 </header>
	 <div>
	 <table class="table">
	<thead class="thead-dark">
	<tr>
	  <th scope="col">#</th>
	  <th scope="col">COUNTRY</th>
	  <th scope="col">GHO</th>
	  <th scope="col">SEX</th>
	  <th scope="col">YEAR</th>
	  <th scope="col">VALUE</th>
	</tr>
  </thead>
	<% for(var i=1; i < Life_expectancies.length; i++) { %>
	<tbody>
	<tr>
	  <th scope="row"><%= i %></th>
	  <td><%= Life_expectancies[i].dims.COUNTRY %></td>
	  <td><%= Life_expectancies[i].dims.GHO %></td>
	  <td><%= Life_expectancies[i].dims.SEX %></td>
	  <td><%= Life_expectancies[i].dims.YEAR %></td>
	   <td><%= Life_expectancies[i].Value %></td>
	</tr>
  </tbody>
  <% } %>
</table>
</div>

	</div>
</div>
<%- include("partials/footer") %>